<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Webpack App</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="./portfolio.html">Portfolio</a>
                </li>
            </ul>
        </nav>

        <h1>My name is Alex</h1>
        <%= require('html-loader!./src/partials/index/Hero.html').default %>
        <%= require('html-loader!./src/partials/index/section-1.html').default %>
        <%= require('html-loader!./src/partials/index/section-2.html').default %>




    </body>
    
</html>
